@import "../variables.scss";

$menu-item-height: 180px;

.Menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 200px;
	height: 100vh;

	&.active {
		background-color: $secondary;
	}

	.menu_icon {
		height: $menu-item-height;
		width: 100%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-width: 60%;
			max-height: 60%;
		}

		&:hover {
			background-color: $secondary;
		}
	}

	ul {
		margin-top: 60px;
		li {
			display: flex;
			padding: 10px;
			height: $menu-item-height;
			margin: 40px 0;
			cursor: pointer;
			align-items: center;
			justify-content: center;

			&:hover, &.active_item {
				background-color: $tertiary;
			}
	
			img {
				max-width: 100%;
				max-height: 100%;
				display: block;
			}
		}
	}

	
}